body{
    margin: 0 auto;
    width: 940px;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    background-color:#1c1c1c ;
    padding: 20px auto 0;
    margin: auto ;
}

.caixa{
    width: 940px;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color:#1c1c1c;
    margin-bottom: 40px;
}


nav a{
    margin-top: 30px;
    text-align: center;

}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}
a{
  text-align: center;
}

nav a{
    text-transform: uppercase;
    color:  #cf2a21;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #ffffff;
    text-decoration:none;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1% 1%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: rgb(214, 18, 18);
}

.produtos li:active{
    border-color:rgb(228, 233, 224);
}

.produtos li:hover h2{
    font-size: 35px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
    color: #cf2a21;

}

.produto-descricao{
    font-size: 15px;
    color: #cf2a21;
     
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    color: red;

}

main{
    width:940px;
    background:linear-gradient(rgb(90, 85, 85),#ffffff);
}

form label{
    display: inline-block;
    margin: 10px 450px 10px;
    max-width:840px;
   
}
form legend {
    display: block;
    font-size: 20px;
    margin: 10px 40px 10px 1px;
    color:black;
}


.input-padrao {
    display: block;
    padding: 10px 10px;
    width: 40%;
    margin: 5px auto 10px;
    border-radius: 10px;
    
}

select{
    margin: 10px 0 10px 450px;
}

.radios legend{
    display: inline-block;
    text-align: center;
    margin-right:10px  ;
}

.radios label{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

fieldset legend{
    text-align: center;
}

.checkbox{
    display: inline;
    margin: 20px 280px;
}

footer{
    width: 940px;
    text-align: center;
    background-color:#1c1c1c ;
    padding: 40px 0;
    
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

.enviar{
    width: 20%;
    padding: 10px 0;
    background: #cf2a21;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 10px auto 10px 450px ;
    
}

.enviar:hover{
    background: #4d2321;
    transform: scale(1.1);
}

table{
    margin: 20px 0 10px 400px;
}

thead{
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 15px 8px;
    color: black;
}

body{
    background-color: #2c2a2a;
}

#img-centra{
    width: 940px;
}

/*css inicial */
.logo-meio{
    width: 940px;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0  1em;
    clear: left;
}


.principal strong{
    font-style: bold;
    font-size: 1.5em;
    color: #cf2a21;
    margin: 10px 10px ;
}

.logo-inicio{
    width: 150px;
    float: left;
    margin:0 10px 20px 0;

}

.principal{
    font-style: italic;
    margin: 0 10px;
}

.principal p{
    margin: 10px auto 20px;
}

.principal a{
    margin: 20px 0 0 200px ;
    color:red;
    font-weight: bold;
}

.mapa {
    text-align: center;
    padding: 3em 0;
    margin: 0 0 2em;
    width: 940px;
    margin: 0 auto;
}

.conteudo-servicos{
    width: 940px;
    margin-bottom: 20px;
 
}

.lista-servicos{
    width: 40%;
    display:inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
    list-style: none;
    margin: 0 90px;
}

/*
Para selecionar a primeira linha de um texto
.itens:first-child{
    font-weight: bold;
}
*/

.itens::before{
    content: "✓";
    margin: 0 5px;
}

.img-servico{
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
}

.img-servico:hover{
    opacity: 0.5;
}


/*configuração de responsividade*/
@media screen and (max-width:480px) {
    .principal,.produtos,.produto-descricao,.produto-preco{
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav a{
        position: static;
    }

    .lista-servicos,.img-servico{
        width: 100%;
    }

    fieldset{
        text-align: center;
    }

    .lista-servicos,.caixa{
        text-align: center;
        margin-bottom: 20px;
    }
}
